 body {
     font-family: 'Inter', sans-serif;
    background-color: #fce3bd;
    margin:0;
     padding-bottom: 200px; 
        }

#header {
  display: flex;
  align-items: center;           /* Vertically center everything */
  justify-content: space-between;/* Logo left, nav right */
  padding: 0 60px;               /* Add spacing left-right */
  height: 64px;
  background-color: antiquewhite;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

#NutriPlates{
  font-weight: 600;
  font-size: 24px;
}

nav ul {
  display: flex;
  gap: 30px;                     
  list-style: none;
  margin: 0;
}

nav a {
  color: #4B5563;
  font-size: 16px;
  font-weight: 100;
  transition: color 0.3s ease;
}

nav a:hover {
  color: orange;
}

/* header section finished */

main{
    padding-top: 80px;;
}
section{
  /* new added */
min-height: 100vh;   
}
#navbar li a.active{
  /* new added */
  background-color: orange;

}


#hero-sec{
    margin-top:30px;
    background-color: #fff5f0;
    height:340px;
    padding:80px 16px;
    margin-bottom: 30px;
    
}
#hero-sec h1{
  text-align: center;
   font-size: 60px;
   color:#1f2937;
   font-weight: 700;
}
#hero-sec p{
   
    color:#1f2937;
    font-size:20px;
    text-align: center;
}
#order-info{
    text-align: center;
    margin-top: 22px;
}
#order-wp{
    margin-left: 10px;
}
#special-con{
padding-bottom: 25px;
}
#special-con h2{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top:20px;
 

}
#dishes{
height:390px;
width: 450px;
background-color: #f7dccf;
border-radius: 12px;
  overflow: hidden;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
#dishes:hover{
  transform: translateY(-10px) scale(1.03); /* 3D lift effect */
  box-shadow: 0 12px 20px rgba(0,0,0,0.2); /* stronger shadow */
}
#flex-dishes{
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
#dish-img{
  background-color: lightyellow;
  height: 200px;
  width: 100%;
  
}
#order-price{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
